<aside class="aside" style="border-color: #302f1c">
  <div class="aside-wrapper">
    <div class="logo-section">
      <a
        *ngFor="let Contact of contact"
        class="logo"
        rel="home"
        href="{{ Contact.linkedin }}"
        target="_blank"
      >
        <img src="{{ person.img }}" alt="Mi foto de perfil" />
        <span>{{ person.name }} {{ person.lastname }}</span>
      </a>
      <span>{{ person.description }}</span>
      <button
        class="button-edit"
        *ngIf="isLogged"
        routerLink="/edit-person/{{ person.id }}"
      >
        <i class="fa-solid fa-pen"></i> Editar
      </button>
    </div>

    <nav class="nav-links">
      <a routerLink="/home" routerLinkActive="active-link">Inicio</a>
      <a routerLink="/about" routerLinkActive="active-link">Sobre mí</a>
      <a routerLink="/skills" routerLinkActive="active-link">Experiencia</a>
      <a routerLink="/contact" routerLinkActive="active-link">Contacto</a>
    </nav>

    <!-- Social icons -->
    <ul class="social-icons" *ngFor="let Contact of contact">
      <li>
        <a href="{{ Contact.linkedin }}" target="_blank">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </li>
      <li>
        <a href="https://github.com/leocastillof" target="_blank">
          <i class="fa-brands fa-github"></i>
        </a>
      </li>
      <li>
        <a href="{{ Contact.instagram }}" target="_blank">
          <i class="fa-brands fa-instagram"></i>
        </a>
      </li>
    </ul>

    <a
      (click)="login()"
      class="contact-button"
      style="width: 80%"
      *ngIf="!isLogged"
    >
      <div>
        <span class="bg"></span>
        <span class="base"></span>
        <span class="text">Iniciar sesión</span>
      </div>
    </a>

    <a
      (click)="onLogOut()"
      class="contact-button"
      style="width: 80%"
      *ngIf="isLogged"
    >
      <div>
        <span class="bg"></span>
        <span class="base"></span>
        <span class="text">Cerrar sesión</span>
      </div>
    </a>

    <img
      src="assets/img/APLogo-20-20.png"
      alt="Argentina Programa"
      height="80"
    />
  </div>
</aside>
