<app-audio></app-audio>
<app-navmenu></app-navmenu>

<section class="section-about-2">
  <div class="text-zone">
    <h2 class="text-zone-h2 contacted">
      <span class="title_1">Contacto & Créditos</span>
    </h2>
    <button
      routerLink="/new-contact"
      *ngIf="isLogged && contact.length === 0"
      class="contact-button"
      style="margin: auto; line-height: 40px; font-size: 16px"
      type="submit"
    >
      <div>
        <span class="bg"></span>
        <span class="base"></span>
        <span class="text">Agregar contacto</span>
      </div>
    </button>
    <div class="desc-contacted" style="text-align: center">
      <div *ngFor="let Contact of contact">
        <button
          class="button-edit"
          *ngIf="isLogged"
          routerLink="/edit-contact/{{ Contact.id }}"
        >
          <i class="fa-solid fa-pen"></i> Editar
        </button>
        &nbsp;
        <button
          class="button-remove"
          *ngIf="isLogged"
          (click)="deleteContact(Contact.id)"
        >
          <i class="fa-solid fa-trash"></i> Borrar
        </button>
        <p></p>
        <div class="text-zone3">
          <p class="aboutme">
            {{ Contact.description }}
          </p>
        </div>
      </div>
    </div>

    <ul *ngFor="let Contact of contact">
      <li>
        <a href="{{ Contact.facebook }}" target="_blank"
          ><span></span><span></span><span></span><span></span
          ><i class="fa-brands fa-facebook-f"></i
        ></a>
      </li>
      <li>
        <a href="{{ Contact.twitter }}" target="_blank"
          ><span></span><span></span><span></span><span></span
          ><i class="fa-brands fa-twitter"></i
        ></a>
      </li>
      <li>
        <a href="mailto:{{ Contact.google }}" target="_blank"
          ><span></span><span></span><span></span><span></span
          ><i class="fa-brands fa-google"></i
        ></a>
      </li>
      <li>
        <a href="{{ Contact.linkedin }}" target="_blank"
          ><span></span><span></span><span></span><span></span
          ><i class="fa-brands fa-linkedin"></i
        ></a>
      </li>
      <li>
        <a href="{{ Contact.instagram }}" target="_blank"
          ><span></span><span></span><span></span><span></span
          ><i class="fa-brands fa-instagram"></i
        ></a>
      </li>
      <li>
        <a href="{{ Contact.whatsapp }}" target="_blank"
          ><span></span><span></span><span></span><span></span
          ><i class="fa-brands fa-whatsapp"></i
        ></a>
      </li>
    </ul>
  </div>
  <img src="assets/img/programmer.gif" alt="Programmer Gif" height="300" />
</section>
