<script
  src="https://kit.fontawesome.com/425273aaba.js"
  crossorigin="anonymous"
></script>
<div id="blob"></div>
<div id="blob2"></div>
<div id="blob3"></div>
<div id="box">
  <a class="exitButton" routerLink="/contact"
    ><i class="fa-solid fa-xmark"></i
  ></a>
  <br />
  <img src="assets/img/contact.gif" height="200" />
  <br />
  <h3>Agregar contacto</h3>
  <br />
  <form
    (ngSubmit)="onCreate()"
    novalidate
    #f="ngForm"
    style="padding-bottom: 15%"
  >
    <div>
      <i class="fa-solid fa-briefcase icon"></i>
      <input
        type="text"
        id="description"
        name="description"
        placeholder="Descripción"
        [(ngModel)]="description"
        required
      />
    </div>

    <div>
      <i class="fa-brands fa-facebook icon"></i>
      <input
        type="text"
        id="facebook"
        name="facebook"
        placeholder="Facebook"
        [(ngModel)]="facebook"
        required
      />
    </div>

    <div>
      <i class="fa-brands fa-twitter icon"></i>
      <input
        type="text"
        id="twitter"
        name="twitter"
        placeholder="Twitter"
        [(ngModel)]="twitter"
        required
      />
    </div>

    <div>
      <i class="fa-brands fa-google icon"></i>
      <input
        type="text"
        id="google"
        name="google"
        placeholder="Gmail"
        [(ngModel)]="google"
        required
      />
    </div>

    <div>
      <i class="fa-brands fa-linkedin icon"></i>
      <input
        type="text"
        id="linkedin"
        name="linkedin"
        placeholder="Linkedin"
        [(ngModel)]="linkedin"
        required
      />
    </div>

    <div>
      <i class="fa-brands fa-instagram icon"></i>
      <input
        type="text"
        id="instagram"
        name="instagram"
        placeholder="Instagram"
        [(ngModel)]="instagram"
        required
      />
    </div>

    <div>
      <i class="fa-brands fa-whatsapp icon"></i>
      <input
        type="text"
        id="whatsapp"
        name="whatsapp"
        placeholder="whatsapp"
        [(ngModel)]="whatsapp"
        required
      />
    </div>

    <button class="contact-button" style="margin: auto; line-height: 40px">
      <div>
        <span class="bg"></span>
        <span class="base"></span>
        <span class="text">Agregar</span>
      </div>
    </button>
  </form>
</div>
