<div *ngIf="education">
  <script
    src="https://kit.fontawesome.com/425273aaba.js"
    crossorigin="anonymous"
  ></script>
  <div id="blob"></div>
  <div id="blob2"></div>
  <div id="blob3"></div>
  <div id="box">
    <a class="exitButton" href="#"><i class="fa-solid fa-xmark"></i></a>
    <br />
    <img src="assets/img/levelup.gif" height="200" />
    <br />
    <h3>Modificar educación</h3>
    <br />
    <form
      (ngSubmit)="onUpdate()"
      novalidate
      #f="ngForm"
      style="padding-bottom: 15%"
    >
      <div>
        <i class="fa-solid fa-briefcase icon"></i>
        <input
          type="text"
          id="nameE"
          name="nameE"
          placeholder="Nombre de la institución, colegio, curso"
          [(ngModel)]="education.nameE"
          required
        />
      </div>
      <div>
        <i class="fa-solid fa-comment icon"></i>
        <input
          type="text"
          id="descriptionE"
          name="descriptionE"
          placeholder="Descripción de la educación"
          [(ngModel)]="education.descriptionE"
          required
        />
      </div>
      <button class="contact-button" style="margin: auto; line-height: 40px">
        <div>
          <span class="bg"></span>
          <span class="base"></span>
          <span class="text">Modificar</span>
        </div>
      </button>
    </form>
  </div>
</div>
