@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    overflow-x: hidden;
}
body{
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
    background: linear-gradient(130deg,#ff0000, #6c1717, #3a1616);
    height: 100vh;
    background-size: 400% 400%;
    animation: gradientShift 5s ease infinite;
    overflow-x: hidden;
}
header{
    width: 95%;
    height: 10vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
}

@-webkit-keyframes gradientShift {
    0% {
        background-position: 50% 0%
    }
    50% {
        background-position: 50% 100%
    }
    100% {
        background-position: 50% 0%
    }
}
@keyframes gradientShift {
    0% {
        background-position: 50% 0%
    }
    50% {
        background-position: 50% 100%
    }
    100% {
        background-position: 50% 0%
    }
}

.containerr {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

table {
    flex: 0 0 auto;
    width: 90px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    border-radius: 15px;
}

th, td {
    padding: 15px;
    background-color: #fdbf2d3b;
    color: #fff;
}

th {
    text-align: left;
}

thead th {
    background-color: #fdbf2d;
}

tbody tr:hover {
    background-color: rgba(255,255,255,0.3);
}

tbody td {
    position: relative;
}

tbody td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255,255,255,0.2);
    z-index: -1;
}

.trail {
    position: absolute;
    height: 6px;
    width: 6px;
    border-radius: 3px;
    background: #fdbf2d;
}

@media only screen and (max-width: 768px) {

    body {
        background-size: 800% 800%;
    }

    header {
        height: 15vh;
    }

    table {
        width: 100%;
        max-width: 400px;
    }

    th, td {
        padding: 10px;
    }

    .containerr {
        width: 90%;
    }
}

.title_1 {
    animation: Color 4s linear infinite;
    -webkit-animation: Color 4s ease-in-out infinite;
}

@media (max-width: 768px) {
    .title_1 {
        animation-duration: 3s;
        -webkit-animation-duration: 3s;
    }
}

@media (max-width: 480px) {
    .title_1 {
        animation-duration: 2s;
        -webkit-animation-duration: 2s;
    }
}

@keyframes Color {
    0% {
      color: #a0d468;
    }

    20% {
      color: #fdbf2d;
    }

    40% {
      color: #ffce54;
    }

    60% {
      color: #fc6e51;
    }

    80% {
      color: #ed5565;
    }

    100% {
      color: #ac92ec;
    }
}

@-moz-keyframes Color {
    /* same as above */
}

@-webkit-keyframes Color {
    /* same as above */
}

  .page-skills {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.page-skills .text-zone {
    width: 50%;
    padding-right: 5rem
}

.page-skills .text-zone+div {
    padding-right: 5rem;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.page-skills .charts {
    opacity: 0
}


.chart {
    margin-bottom: 2rem
}

.chart span {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 7px;
    display: block
}

.chart footer {
    background-color: #373737;
    height: 8px
}

.chart footer div {
    width: 0;
    height: 100%;
    animation: dropdown 4s ease-in-out;
}

@keyframes dropdown {
    0% {
      opacity: 0;
    }
    
    50% {
      opacity: 0.5;
    }
  
    100% {
      opacity: 1;
    }
  }
.work-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 5rem
}

.work-box {
    width: 48%;
    background: #2a2a2a;
    padding: 3rem
}

.work-box header {
    font-family: 'La Belle Aurore', cursive;
    font-size: 2.6rem;
    line-height: 2rem;
    margin-bottom: 2rem
}

.work-box section {
    font-size: 1.6rem;
    color: #ababab;
    margin-bottom: 1rem
}

.work-box section time {
    display: block;
    font-size: 1.2rem
}

.work-box footer {
    font-size: 1.6rem;
    color: #ababab;
    line-height: 1.8rem
}

/* For screens smaller than 768px */
@media (max-width: 767px) {
    .page-skills {
      display: block;
    }
    
    .page-skills .text-zone,
    .page-skills .text-zone+div {
      width: 100%;
      padding-right: 0;
      margin-bottom: 2rem;
    }
    
    .work-row {
      display: block;
    }
    
    .work-box {
      width: 100%;
      margin-bottom: 2rem;
    }
  }
  
  /* For screens larger than 768px */
  @media (min-width: 768px) {
    .page-skills .text-zone {
      width: 50%;
      padding-right: 5rem;
    }
  
    .page-skills .text-zone+div {
      width: 50%;
      padding-right: 5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    
    .work-row {
      display: flex;
      justify-content: space-between;
      margin-top: 5rem;
    }
    
    .work-box {
      width: 48%;
      margin-bottom: 0;
    }
  }



#sound{
    padding: 7px;
    background-color: #1b1b1b;
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: #fff;
}
.sound-cloud{
    font-size: 1.2rem;
    margin: 7px;
    color: #a51515;
}
.on-off{
    cursor: pointer;
    margin-left: 5px;
}
#off{
    color: #a51515;
}
#on{
    display: none;
    color: #fdbf2d;
}
.btns-container .fas{
    font-size: 2rem;
    padding: 10px;
    background-color: #181818;
    color: #fff;
    cursor: pointer;
}
.btns-container .fas:nth-child(2){
    display: none;
}

/* aside section starts here */
.aside{
    width: 100%;
    height: 0;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: #191919;
    z-index: 1;
}
.show-nav{
    height: 100%;
    overflow: visible;
}
.aside-wrapper{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.logo-section{
    min-height: 32vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #0c0c0c;
    color: #fff;
}
.logo{
    display: grid;
    place-items: center;
    text-decoration: none;
}
.logo img{
    width: 6rem;
    height: 6rem;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    border: 2px solid #fdbf2d;
    position: relative;
    top: 0;
    transition: 250ms top ease-in-out;
}
.logo img:hover{
    top: -1rem;
	z-index: 99;
}
.logo span{
    font-family: 'Poppins', sans-serif;
    font-size: 1.7rem;
    text-align: center;
    color: #fdbf2d;
    padding-top: 5%;
}
.logo-section > span{
    margin-top: 5%;
    font-size: 12px;
    font-family: 'Open Sans';
}
/* Styles for screens smaller than 768px */
@media (max-width: 767px) {
    /* Adjust padding for sound section */
    #sound {
      padding: 5px;
    }
  
    /* Reduce font size for sound cloud icon */
    .sound-cloud {
      font-size: 1rem;
    }
  
    /* Hide the on/off toggle */
    .on-off {
      display: none;
    }
  
    /* Show the off icon */
    #off {
      display: inline-block;
    }
  
    /* Adjust font size and padding for icons */
    .btns-container .fas {
      font-size: 1.5rem;
      padding: 7px;
    }
  
    /* Show the second icon */
    .btns-container .fas:nth-child(2) {
      display: inline-block;
    }
  
    /* Adjust width and font size for logo section */
    .logo-section {
      min-height: 25vh;
    }
  
    /* Reduce font size for logo name */
    .logo span {
      font-size: 1.2rem;
    }
  
    /* Adjust font size and margin for disclaimer */
    .logo-section > span {
      margin-top: 3%;
      font-size: 10px;
    }
  }
  
  /* Styles for screens larger than 768px */
  @media (min-width: 768px) {
    /* Restore original padding for sound section */
    #sound {
      padding: 7px;
    }
  
    /* Restore original font size for sound cloud icon */
    .sound-cloud {
      font-size: 1.2rem;
    }
  
    /* Restore visibility of on/off toggle */
    .on-off {
      display: block;
    }
  
    /* Hide the off icon */
    #off {
      display: none;
    }
  
    /* Restore original font size and padding for icons */
    .btns-container .fas {
      font-size: 2rem;
      padding: 10px;
    }
  
    /* Hide the second icon */
    .btns-container .fas:nth-child(2) {
      display: none;
    }
  
    /* Restore original height for logo section */
    .logo-section {
      min-height: 32vh;
    }
  
    /* Restore original font size for logo name */
    .logo span {
      font-size: 1.7rem;
    }
  
    /* Restore original font size and margin for disclaimer */
    .logo-section > span {
      margin-top: 5%;
      font-size: 12px;
    }
  }
/* nav section starts here */

.nav-links a{
    display: block;
    text-align: center;
    line-height: 3rem;
    text-decoration: none;
    color: #c7c7c7;
}
.nav-links a:hover{
    color: #fdbf2d ;
}
.nav-links a::before{
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    background-color: #2d2d2e;
}

/* social icons */

.social-icons{
    list-style: none;
    display: flex;
    margin-bottom: 30px;
}
.social-icons li{
    width: 30px;
    font-size: 1rem;
}
.social-icons li a{
    text-decoration: none;
    color: #c7c7c7;
}
.social-icons li a:hover{
    color: #fdbf2d;
}

/* nav bar ends here */

@media screen and (max-width: 768px) {
    .nav-links{
        position: fixed;
        height: 100vh;
        width: 100%;
        background-color: #2d2d2e;
        top: 80px;
        left: -100%;
        text-align: center;
        z-index: 2;
        transition: all .5s ease;
    }
    
    .nav-links a{
        display: block;
        margin: 20px 0;
        font-size: 1.5rem;
        line-height: 2rem;
    }
    
    .nav-links a::before{
        display: none;
    }
    
    .show-menu .nav-links{
        left: 0;
    }
    
    .social-icons{
        margin-bottom: 0;
    }
    
    .social-icons li{
        margin-right: 20px;
        font-size: 1.5rem;
    }
}


/* nav bar ends here */

#section-home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
}
.text-zone h1{
    font-size: 3rem;
    line-height: 45px;
    letter-spacing: -3px;
    position: relative;
}
.text-zone h1::before{
    content: '<h1>⚡';
    position: absolute;
    top: -80px;
    left: -10px;
    font-size: 1.2rem;
    font-family: 'La Belle Aurore', cursive;
    color: #666565;
    letter-spacing: 3px;
}
.text-zone h1::after{
    content: '⚡</h1>';
    position: absolute;
    bottom: -10px;
    right: -70px;
    font-size: 1.2rem;
    font-family: 'La Belle Aurore', cursive;
    color: #666565;
    letter-spacing: 3px;
}
.text-zone img{
    width: 35px;
    height: 50px;
}
.text-zone .gray-text{
    margin-top: 30px;
    color: #c7c7c7;
    letter-spacing: 3px;
    font-size: 14px;
    position: relative;
}

.animation_01 
{
    box-shadow: inset 0 0 0 0 #fdbf2d;
    color: #fdbf2d;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .8s ease-in-out, box-shadow .8s ease-in-out;
}
.animation_01:hover 
{
    box-shadow: inset 100% 0 0 0 #fdbf2d;
    color: white;
}

.animation_02
{
    box-shadow: inset 0 0 0 0 #fdbf2d;
    color: #fdbf2d;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .8s ease-in-out, box-shadow .8s ease-in-out;
}
.animation_02:hover 
{
    box-shadow: inset 760px 0 0 0 #fdbf2d;
    color: white;
}

/* Small devices (phones, 576px and up) */
@media (min-width: 576px) { 
    #section-home{
      padding-left: 2rem;
    }
    .text-zone h1{
      font-size: 4rem;
      line-height: 60px;
      letter-spacing: -4px;
    }
    .text-zone h1::before{
      top: -100px;
      left: -20px;
      font-size: 1.5rem;
    }
    .text-zone h1::after{
      bottom: -20px;
      right: -120px;
      font-size: 1.5rem;
    }
    .text-zone img{
      width: 50px;
      height: 70px;
    }
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) { 
    #section-home{
      padding-left: 5rem;
    }
    .text-zone h1{
      font-size: 5rem;
      line-height: 75px;
      letter-spacing: -5px;
    }
    .text-zone h1::before{
      top: -150px;
      left: -30px;
      font-size: 2rem;
    }
    .text-zone h1::after{
      bottom: -30px;
      right: -180px;
      font-size: 2rem;
    }
    .text-zone img{
      width: 70px;
      height: 100px;
    }
  }
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) { 
    #section-home{
      padding-left: 10rem;
    }
    .text-zone h1{
      font-size: 6rem;
      line-height: 90px;
      letter-spacing: -6px;
    }
    .text-zone h1::before{
      top: -200px;
      left: -40px;
      font-size: 2.5rem;
    }
    .text-zone h1::after{
      bottom: -40px;
      right: -240px;
      font-size: 2.5rem;
    }
    .text-zone img{
      width: 90px;
      height: 130px;
    }
  }

/* H2 _read */
.h2_read
{
    color: #fdbf2d;
}
.parraf_section_two
{
    font-family: 'Open Sans';
}

/* Link */
a
{
    color: #fdbf2d;
}

/* Font for About Me */
.aboutme
{
    font-family: 'Open Sans';
}
/* Font for About Me */

/* Effect Typing */
.typing {
	position: relative;
	color: #ffe8b1;
	font-family: 'Poppins', sans-serif;
	font-weight: bolder;
}

.typing span {
	position: absolute;
	top: 0;
	right: 0;
	background: #474747;
	width: 100%;
	border-left: 10px solid transparent;
	animation: typing 3s steps(16) forwards, cursor 1s infinite;
}

@keyframes typing {
	from {
		width: 100%;
	}

	to {
		width: 0;
	}
}

@keyframes cursor {
	50% {
		border-color: #ffe8b1;
	}
}
/* Mobile */
@media screen and (max-width: 768px) {
    .typing {
      text-align: center;
    }
  }
  
  /* Tablet */
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    .typing {
      font-size: 1.2rem;
    }
  }
  
  /* Desktop */
  @media screen and (min-width: 1025px) {
    .h2_read {
      font-size: 2.2rem;
    }
    
    .parraf_section_two {
      font-size: 1.1rem;
    }
    
    .aboutme {
      font-size: 1.2rem;
    }
  }
  
/* Effect Typing */


/* Effect image */

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .container .box {
    position: relative;
    width: 275px;
    height: 275px;
    transition: 0.5s;
    transform-style: preserve-3d;
    overflow: hidden;
    margin-right: 40px;
    margin-top: 45px;
  }
  .container:hover .box {
    transform: rotateY(25deg);
  }
  .container .box:hover ~ .box {
    transform: rotateY(-25deg);
  }
  .container .box:hover {
    transform: rotateY(0deg) scale(1.25);
    z-index: 1;
  }
  .container .box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .container .box .imgBx:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background: linear-gradient(180deg,#fdbf2d,#363636);
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
    mix-blend-mode: multiply;
  }
  .container .box:hover .imgBx:before {
    opacity: 1;
  }
  .container .box .imgBx img {
    border-radius: 25px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .container .box .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    padding: 20px;
    align-items: flex-end;
    box-sizing: border-box;
  }
  .container .box .content h2 {
    color: #fff;
    transition: 0.5s;
    margin-bottom: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    transform: translateY(200px);
    transition-delay: 0.3s;
  }
  .container .box:hover .content h2 {
    transform: translateY(0px);
  }
  .container .box .content p {
    color: #fff;
    transition: 0.5s;
    font-size: 14px;
    transform: translateY(200px);
    transition-delay: 0.4s;
  }
  .container .box:hover .content p {
    transform: translateY(0px);
  }
  @media (max-width: 768px) {
    .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
    }
    
    .container .box {
    position: relative;
    width: 100%;
    height: auto;
    max-width: 275px;
    transition: 0.5s;
    transform-style: preserve-3d;
    overflow: hidden;
    margin-right: 10px;
    margin-bottom: 20px;
    }
    
    .container:hover .box {
    transform: none;
    }
    
    .container .box:hover ~ .box {
    transform: none;
    }
    
    .container .box:hover {
    transform: none;
    z-index: 1;
    }
    
    .container .box .imgBx {
    position: relative;
    width: 100%;
    height: 200px;
    }
    
    .container .box .imgBx:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background: linear-gradient(180deg,#fdbf2d,#363636);
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
    mix-blend-mode: multiply;
    }
    
    .container .box:hover .imgBx:before {
    opacity: 1;
    }
    
    .container .box .imgBx img {
    border-radius: 25px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
    
    .container .box .content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    padding: 20px;
    align-items: flex-end;
    box-sizing: border-box;
    }
    
    .container .box .content h2 {
    color: #fff;
    transition: 0.5s;
    margin-bottom: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    transform: translateY(200px);
    transition-delay: 0.3s;
    }
    
    .container .box:hover .content h2 {
    transform: translateY(0px);
    }
    
    .container .box .content p {
    color: #fff;
    transition: 0.5s;
    font-size: 14px;
    transform: translateY(200px);
    transition-delay: 0.4s;
    }
    
    .container .box:hover .content p {
    transform: translateY(0px);
    }
    }
/* Effect image */

/* contact me button */
.button-edit {
    background-color: rgb(44 44 44);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

/* Make the button full width on small screens */
@media only screen and (max-width: 600px) {
    .button-edit {
        width: 100%;
    }
}

.button-edit:hover,
.button-edit:focus {
    background-color: #fdbf2d;
}
  

.button-remove {
    border: 2px solid rgb(44 44 44);
    border-radius: 8px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  @media screen and (max-width: 480px) {
    .button-remove {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  
  .button-remove:hover,
  .button-remove:focus {
    background-color: #6e0000;
  }
  
  @media screen and (max-width: 768px) {
    .contact-button {
      font-size: 12px;
      letter-spacing: 2px;
      line-height: 32px;
      max-width: 160px;
    }
  }
/* Remove default styles for buttons and inputs */
button, input[type="submit"], input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
  
  .contact-button {
    text-decoration: none;
    width: 100%;
    max-width: 200px;
    height: 40px;
    display: block;
    line-height: 40px;
    letter-spacing: 3px;
    position: relative;
    text-align: center;
    color: #fdbf2d;
    margin-top: 50px;
  }
  
  .contact-button div {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all .3s ease-in-out;
  }
  
  .contact-button span.bg {
    position: absolute;
    width: 0%;
    height: 100%;
    left: -5px;
    top: 0;
    transition: all .3s ease-in-out;
    background-color: #fdbf2d;
    transform: skewX(-19deg);
  }
  
  .contact-button:hover span.bg {
    width: 110%;
  }
  
  .contact-button span.base {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    border: 1px solid #fdbf2d;
    box-sizing: border-box;
  }
  
  .contact-button span.text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  
  .contact-button:hover span.text {
    color: #1d1d1d;
  }
  .scroll-down{
    position: absolute;
    right: 0;
    bottom: 3.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
    display: block;
    font-size: 14px;
}
.scroll-down--left{
    left: 0;
    right: auto;
}
.scroll-down span{
    display: inline-block;
    animation: scroll .5s linear infinite alternate-reverse;
}
@keyframes scroll{
    0%{
        transform: translateX(-7px);
    }
    100%{
        transform: translateX(7px);
    }
}
.scroll-down .fas{
    transform: rotate(270deg);
    margin-left: 10px;
}

@media only screen and (max-width: 768px) {
  .scroll-down {
    bottom: 10px;
    right: 10px;
    transform: rotate(0deg);
  }
  .scroll-down--left {
    left: auto;
    right: 10px;
  }
  .scroll-down .fas{
    transform: rotate(0deg);
    margin-left: 5px;
  }
}
/* part 2 starts here */ /* part 2 starts here *//* part 2 starts here */

#section-work{
  text-align: center;
    padding: 5rem 0;
    position: relative;
}

@media only screen and (min-width: 768px) {
  #section-work {
    text-align: center;
    padding-left: 1.5rem;
  }
}

#header{
    font-size: 2rem;
    color: #fdbf2d;
    margin-bottom: 30px;
}

@media only screen and (min-width: 768px) {
  #header {
    font-size: 3rem;
  }
}

.text-zone-2 p{
    line-height: 1.5;
}

.fake-big-2{
    font-size: 12rem;
    font-weight: 700;
    position: absolute;
    color: #2d2d2e;
    left: 10px;
    bottom: -70px;
    letter-spacing: -10px;
    z-index: -999;
}

@media only screen and (min-width: 768px) {
  .fake-big-2 {
    font-size: 20rem;
    left: 40px;
    bottom: -150px;
  }
}

.fake-magicwall{
    background-color: rgba(255, 255, 255, 0.1);
}

.fake-magicwall ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.fake-magicwall ul li{
    width: 100%;
    max-width: 161px;
    height: auto;
    position: relative;
    overflow: hidden;
    margin-bottom: 1rem;
}

@media only screen and (min-width: 768px) {
  .fake-magicwall ul li {
    width: calc(33.33% - 1rem);
    max-width: none;
    height: 160px;
    margin: 0 0 1rem 1rem;
  }
}

.fake-magicwall .magic-wall_item{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: transform 0.5s, opacity 0.5s;
    transform-origin: center center;
}

.fake-magicwall img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fake-magicwall ul li:hover .magic-wall_item{
    transform: scale(1.14);
}

@media only screen and (min-width: 768px) {
  .fake-magicwall ul li:hover .magic-wall_item{
      transform: scale(1.2);
  }
}

.fake-magicwall ul li a.colorbox{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/circle.png) no-repeat center;
    opacity: 0;
    transition: all 150ms ease-out;
    transform: scale(0.2);
}

.fake-magicwall ul li:hover a.colorbox{
    transform: scale(0.6);
    opacity: 1;
}
/* magical wall ends here */

/* part 3 section starts here */

.section-about{
    padding: 0 1.5rem;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.section-about-2{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.text-zone3 p{
        /* padding: 0 10%; */
        margin-left: 7%;
        margin-right: 2%;
        /* width: 80%; */
        margin-bottom: 15px;
        font-size: 16px;
        line-height: 1.5rem;
}

.tech{
    text-decoration: none;
    color: #08fdd8;
}

/* Media Queries */
@media only screen and (min-width: 768px) {
    .section-about{
      flex-direction: row;
      padding: 5rem 18.5rem;
        justify-content: space-around;
        align-items: flex-start;
    }

    .section-about-2{
        margin-top: 0;
        margin-left: 5%;
    }

    .text-zone3 p{
        /* text-align: center; */
        /* padding: 0; */
        /* width: 70%; */
        /* font-size: 18px; */
        /* line-height: 2rem; */
        
    }
}
/* blog section starts here */
.section-blog {
    width: 85%;
    margin: 100px auto 0;
    position: relative;
}

.section-blog .fake-big-2 {
    font-size: 12rem;
    font-weight: bolder;
    position: absolute;
    top: -180px;
    left: 0;
}

.blog-articles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.post-articles {
    width: 100%;
    height: 220px;
    background-color: #1d1d1d;
    padding: 25px;
    color: #909096;
    box-shadow: 0 0 5px 5px #191919;
    margin-bottom: 30px;
}

.post-date {
    font-size: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.blog-post-title h5 a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
    display: block;
    margin: 15px 0;
}

.blog-post-title h5 a:hover {
    color: #fdbf2d;
}

@media screen and (min-width: 768px) {
    .blog-articles {
        flex-direction: row;
    }

    .post-articles {
        width: 45%;
        margin: 1.5%;
        height: 300px;
    }
}

@media screen and (min-width: 1024px) {
    .post-articles {
        width: 30%;
        margin: 1%;
        height: 300px;
    }
}





/* media section for bigger screens */

@media screen and (min-width: 1200px) {
    header {
        justify-content: flex-end;
        align-items: flex-end;
        }

        .btns-container {
            display: none;
        }
        
        .aside {
            width: 10%;
            height: 100%;
        }
        
        .aside-wrapper {
            height: 80%;
        }
        
        .logo-section {
            min-height: 25vh;
        }
        
        .logo img {
            width: 50%;
            height: auto;
        }
        
        .social-icons {
            margin-bottom: 0;
            text-align: center;
        }
        
        .social-icons li {
            font-size: 1rem;
        }
        

    /* home section */
    #section-home {
        padding-left: 17rem;
    }
    
    .text-zone h1 {
        font-size: 5.3rem;
        line-height: 85px;
        letter-spacing: -6px;
    }
    
    .text-zone img {
        width: 50px;
        height: 72px;
    }
    
    .text-zone .gray-text {
        font-size: 1rem;
        font-family: 'Open Sans';
    }
    
    .scroll-down {
        right: -30px;
        bottom: 3.3rem;
    }
    
    .scroll-down--left {
        left: 110px;
        right: auto;
    }
}
    @media screen and (min-width: 1400px) {
        #section-work {
            width: 85%;
            margin: 0 30px 0 auto;
            display: flex;
            flex-direction: column;
        }
        
        .text-zone-2 {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        #header {
            font-size: 2.5rem;
        }
        
        .text-zone-2 p {
            width: 700px;
            font-size: 14px;
            line-height: 1.5rem;
        }
        
        .fake-big-2 {
            font-size: 25rem;
            font-weight: 700;
            left: 560px;
            top: 0;
        }
        
        .fake-magicwall {
            padding-left: 8.5rem;
        }
        
        .fake-magicwall ul li {
            width: 242px;
            height: 236px;
        }
    }
    /* part 2 media query bigger screens starts here */


    /* media query for about section */
    @media screen and (min-width: 1600px) {
        .section-about {
            flex-direction: row;
            padding-left: 17rem;
        }
        
        .section-about-2 {
            flex-direction: row;
            padding-left: 17rem;
        }
        
        .text-zone3 #header {
            width: 500px;
            font-size: 3rem;
        }
        
        .text-zone3 p {
            width: 400px;
        }
        
        .skills-charts {
            margin-right: 20%;
        }
    }

    /* media query for blog section */
    @media screen and (max-width: 1200px) {
        .section-blog{
        width: 90%;
        margin: 50px auto 0;
        }
        .section-blog .fake-big-2{
        font-size: 20rem;
        top: -150px;
        }
        .blog-articles{
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        }
        .post-articles{
        width: 100%;
        height: 400px;
        margin: 20px;
        }
        .blog-post-title h5 a{
        font-size: 1.5rem;
        line-height: 1.8rem;
        }
}
::-webkit-scrollbar 
{
    width: 5px;
}
::-webkit-scrollbar-track 
{
    background-color: #949494;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb
{
    background-color: #fdbf2d;
    border-radius: 10px;
}