body{
    background-color: rgb(22,22,22);
    height: fit-content;
    font-family: sans-serif;
  }
  #blob {
    position: fixed;
    margin-top: 200px;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    background-image: linear-gradient(
      45deg,
      rgb(22, 22, 22),
      rgb(195, 0, 255),
      rgb(0, 255, 242)
    );
    filter: blur(30px);
  }
  #blob2 {
    position: fixed;
    width: 40vw;
    height: 40vw;
    margin-left: 100px;
    margin-top: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(
      90deg,
      rgb(22, 22, 22),
      rgb(195, 0, 255),
      rgb(0, 255, 242)
    );
    filter: blur(30px);
    border-radius: 50%;
    overflow: hidden;
  }
  #blob3 {
    position: fixed;
    margin-top: 300px;
    right: 30px;
    width: 25vw;
    height: 20vw;
    rotate: -150deg;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(
      90deg,
      rgb(22, 22, 22),
      rgb(195, 0, 255),
      rgb(0, 255, 242)
    );
    filter: blur(30px);
    border-radius: 50%;
  }
  #box {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
    width: 400px;
    height: 470px;
    background-color: rgb(22, 22, 22);
    border-radius: 2rem;
    text-align: center;
    box-shadow: 0px 0px 20px 10px rgb(197, 197, 197);
    margin-bottom: 300px;
  }
  svg {
    posistion: relative;
    padding-top: 50px;
  }
  h3 {
    color: white;
  }
  input {
    color: white;
    display: block;
    width: 250px;
    padding: 8px 16px;
    line-height: 25px;
    font-size: 14px;
    border-radius: 0px 6px 6px 0px;
    border: 1px solid white;
    background: rgb(22, 22, 22);
    transition: border 0.3s ease;
    margin-bottom: 20px;
  }
  input::placeholder {
    transition: 500ms;
    opacity: 1;
  }
  input:focus {
    outline: none;
    color: white;
  }
  input:focus::placeholder {
    transition: 500ms;
    opacity: 0;
    transform: translateX(-20px);
  }
  .icon {
    margin-left: 40px;
    float: left;
    padding: 2% 12px;
    font-size: 14px;
    line-height: 25px;
    color: white;
    border-radius: 6px 0px 0px 6px;
    background: rgb(22, 22, 22);
    border: 1px solid white;
  }
  a {
    color: white;
    font-size: 15px;
    margin-left: -160px;
  }
  #login {
    transition: 500ms;
    color: white;
    background-color: rgb(22, 22, 22);
    border: 1px solid white;
    font-size: 20px;
    border-radius: 6px;
    width: fit-content;
    padding: 5px;
    float: right;
    margin-right: 40px;
  }
  #login:hover {
    cursor: pointer;
    transition: 500ms;
    color: rgb(22, 22, 22);
    background-color: white;
  }
  .loginError {
    display: none;
    position: relative;
    margin-top: -18px;
    color: red;
  }
  .exitButton {
    text-decoration: none;
    color: white;
    font-size: 30px;
    position: absolute;
    top: 30px;
    right: 30px;
  }