<script
  src="https://kit.fontawesome.com/425273aaba.js"
  crossorigin="anonymous"
></script>
<div id="blob"></div>
<div id="blob2"></div>
<div id="blob3"></div>
<div id="box">
  <a class="exitButton" routerLink="/skills"
    ><i class="fa-solid fa-xmark"></i
  ></a>
  <br />
  <img src="assets/img/skill.gif" height="200" />
  <br />
  <h3>Agregar habilidad</h3>
  <br />
  <form
    (ngSubmit)="onCreate()"
    novalidate
    #f="ngForm"
    style="padding-bottom: 15%"
  >
    <div>
      <i class="fa-solid fa-star icon"></i>
      <input
        type="text"
        id="name"
        name="name"
        placeholder="Nombre de habilidad"
        [(ngModel)]="name"
        required
      />
    </div>
    <div>
      <i class="fa-solid fa-percent icon"></i>
      <input
        type="text"
        id="percentage"
        name="percentage"
        placeholder="Porcentaje de la habilidad"
        [(ngModel)]="percentage"
        required
      />
    </div>
    <button class="contact-button" style="margin: auto; line-height: 40px">
      <div>
        <span class="bg"></span>
        <span class="base"></span>
        <span class="text">Agregar</span>
      </div>
    </button>
  </form>
</div>
