.text-zone-h2
{
    padding-left: 10%;
    width: 80%;
    font-weight: 400;
    margin-top: 0;
    left: -10px;
    font-size: 3.3rem;
    line-height: 85px;
    letter-spacing: 3px;
}

.wrapperr {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  .column {
    grid-column: 2;
    grid-row: 4;
  }
