<section id="section-home" class="section-home">
  <div class="text-zone">
    <h2 class="text-zone-h2">
      Mi habilidades <br />
      y <span class="title_1">Experiencia</span>
    </h2>

    <div style="display: flex">
      <br />
      <p class="aboutme">
        Desde que empecé mi vida como programador freelance en estos 4 años de
        experiencia. He adquirido conocimientos que no esperaba aprender. Con el
        tiempo el logrado una experiencia laboral haciendo plataformas
        E-Commerce para un emprendimiento de venta de Accesorios en mi ciudad
        (Rocco Accesorios). También creé mi proyecto freelance de Red Social
        (RayApp). He podido conocer gente que me ayudó a mejorar como persona y
        como desarrollador.
      </p>
      <p class="aboutme">
        Creo sitios web fáciles de usar, construido para que el usuario tenga
        una gran experiencia. Siempre me enfoco en hacer todo lo mejor posible,
        siguiendo las buenas prácticas del programador. Y al mismo tiempo hago
        que las cosas que parecen complicadas puedan ser sencillas. Mi área
        principal e inicial fue el desarrollo de front-end, HTML, CSS, JS,
        Angular. Con el tiempo he adquirido conocimientos del lado back-end,
        SQL, PHP, Java, Spring Boot y Kotlin.
      </p>
      <p class="aboutme">
        Como objetivo me gustaría en algún tiempo ser dedicado a Mobile.
        Desarrollo de aplicaciones móviles.
        <br />
      </p>
    </div>
  </div>
</section>
