<!-- Header -->
<header>
  <!--   <div id="sound">
    <audio id="myAudio">
      <source src="" />
    </audio>
    <i class="fab fa-soundcloud sound-cloud"></i>
    <span>Sonido</span>
    <div class="on-off">
      <span id="off">Off</span>
      <span id="on">On</span>
    </div>
  </div> -->
  <div class="btns-container">
    <i class="fas fa-bars bars"></i>
    <i class="fas fa-times times"></i>
  </div>
</header>

<!-- Sidebar -->
<aside class="aside" style="border-color: #302f1c">
  <div class="aside-wrapper">
    <div class="logo-section">
      <a
        class="logo"
        rel="home"
        href="https://www.linkedin.com/in/leocastillof/"
        target="_blank"
      >
        <img src="assets/img/leocastillo.png" alt="Mi foto de perfil" />
        <span>Leo Castillo</span>
      </a>
      <span>Full Stack Dev</span>
    </div>

    <nav class="nav-links">
      <a href="#">Sobre mí</a>
      <a href="#">Mis habilidades</a>
      <a href="#">Experiencia</a>
      <a href="#">Lenguajes</a>
      <a href="#">Contacto</a>
    </nav>
    <!-- social icons -->
    <ul class="social-icons">
      <li>
        <a href="https://www.linkedin.com/in/leocastillof/" target="_blank">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </li>
      <li>
        <a href="https://github.com/leocastillof" target="_blank">
          <i class="fa-brands fa-github"></i>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/leocastillo.f/" target="_blank">
          <i class="fa-brands fa-instagram"></i>
        </a>
      </li>
    </ul>
  </div>
</aside>

<!-- Sección uno -->
<section id="section-home" class="section-home">
  <div class="text-zone">
    <h1>
      Hola, <br />
      Soy <span class="title_1">Leonardo Castillo</span>, <br />
      <span class="animation_01">Full Stack Dev</span>
    </h1>
    <p class="gray-text efectop">
      Full stack | Freelancer | Estudiante de Ingeniería en Informática | 22
      años.
    </p>
    <br />

    <!-- Contacto -->
    <a href="mailto:leocastillofavierx@gmail.com" class="contact-button">
      <div>
        <span class="bg"></span>
        <span class="base"></span>
        <span class="text">Contacto</span>
      </div>
    </a>
  </div>
</section>

<!-- Sección dos -->
<section id="section-work">
  <div id="header">
    <h2 class="h2_read animation_02">Mis proyectos & trabajos</h2>
  </div>
  <div class="text-zone-2">
    <div>
      <p class="parraf_section_two">
        Dejo alguno de mis proyectos o trabajos hecho con cariño 💛
        <br />
        Si te interesa ver más, dejo mi
        <a target="_blank" href="https://www.instagram.com/leocastillo.f/"
          >Instagram</a
        >
        en dónde suelo subir más contenido
      </p>
    </div>
    <!-- Button LinkedIn-->
    <a
      href="https://www.linkedin.com/in/leocastillof/"
      target="_blank"
      class="contact-button"
    >
      <div>
        <span class="bg"></span>
        <span class="base"></span>
        <span class="text">Mi LinkedIn</span>
      </div>
    </a>
  </div>
  <div class="fake-big-2">Proyectos</div>
</section>

<div class="container">
  <div class="box">
    <a href="https://www.therayapp.com/" target="_blank">
      <div class="imgBx">
        <img src="assets/img/RayApp.jpg" />
      </div>
      <div class="content">
        <div>
          <h2>RayApp</h2>
          <p>
            Proyecto Freelance, Red Social hecho con Kotlin, CSS, HTML, SQL, PHP
            & JavaScript
          </p>
        </div>
      </div>
    </a>
  </div>
  <div class="box">
    <a href="https://www.therayapp.com/rocco/" target="_blank">
      <div class="imgBx">
        <img src="assets/img/rocco.jpeg" />
      </div>
      <div class="content">
        <div>
          <h2>Rocco Accesorios</h2>
          <p>
            Plataforma E-Commerce. Armazones, Lentes de Sol, entre otros.
            Desarrollado con CSS, JavaScript, SQL, PHP, HTML.
            <br /><br />
            Integración de Checkout Pro de MercadoPago
          </p>
        </div>
      </div>
    </a>
  </div>
  <div class="box">
    <a href="#" target="_blank">
      <div class="imgBx">
        <img src="assets/img/me.jpg" />
      </div>
      <div class="content">
        <div>
          <h2>Porfolio</h2>
          <p>
            Desarrollado con Framework Angular. Utilizando CSS, SQL, TypeScript,
            Java con Spring Boot.
          </p>
        </div>
      </div>
    </a>
  </div>
</div>

<section id="section-about">
  <div class="text-zone3">
    <div id="header">
      <h2 class="typing">Mis inicios&nbsp;<span>&nbsp;</span></h2>
    </div>
    <p class="aboutme">
      Desde que tenía unos ocho años, entraba a sitios webs como Youtube,
      Facebook, Twitter. Esto me ayudo a cuestionarme como era que videos o lo
      que la gente subiera, o pensara estuviera en línea.
    </p>
    <p class="aboutme">
      Desde los trece años siempre quise crear una aplicación o que algo creado
      por mí estuviera en la web. Pero al ver que el mundo de la programación
      era extenso y complejo me aparté y pensé que no era lo mío.
      <br />
      <br />
      Hasta que a los dieciocho años empezó a interesarme con más fuerza, y dije
      ¿Por qué no intentarlo? Luego no hubo límites, supe que uno mismo se pone
      sus límites, pero que si le gusta, interesa y empieza a darle con fuerza
      lo que se propone, se obtiene sus frutos. Durante estos cinco años he
      adquirido grandes conocimientos acerca de la programación, desde el lado
      Front-End como Back-End. Siento que gracias a esto evolucioné como persona
      y pude conocerme mucho más, auto desafiarme a querer ver en pantalla lo
      que yo quisiera a través de la programación...
    </p>
    <p class="aboutme">
      Recientemente finalicé un trabajo, creé una plataforma E-Commerce para un
      emprendimiento llamado Rocco Accesorios, desarrollé individualmente con
      HTML, CSS, PHP, JavaScript, Ajax, SQL. Junto con la Integración de
      Checkout Pro (MercadoPago).
    </p>
  </div>

  <div class="skills-charts">
    <div id="myCanvasContainer">
      <canvas width="500" height="500" id="myCanvas">
        <ul id="tags" style="display: none">
          <li><a href="#" target="_blank">HTML</a></li>
          <li><a href="#" target="_blank">CSS</a></li>
          <li><a href="#" target="_blank">Angular</a></li>
          <li><a href="#" target="_blank">SQL</a></li>
          <li><a href="#" target="_blank">Kotlin</a></li>
          <li><a href="#" target="_blank">JSON</a></li>
          <li><a href="#" target="_blank">PHP</a></li>
          <li><a href="#" target="_blank">JavaScript</a></li>
          <li><a href="#" target="_blank">Ajax</a></li>
          <li><a href="#" target="_blank">JQuery</a></li>
          <li><a href="#" target="_blank">TypeScript</a></li>
          <li><a href="#" target="_blank">Node JS</a></li>
          <li><a href="#" target="_blank">Git</a></li>
          <li><a href="#" target="_blank">REST</a></li>
          <li><a href="#" target="_blank">Apache2</a></li>
          <li><a href="#" target="_blank">SSL</a></li>
          <li><a href="#" target="_blank">Protocolos</a></li>
          <li><a href="#" target="_blank">Java</a></li>
        </ul>
      </canvas>
    </div>
  </div>
</section>
